
html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}
body
{
    background-image: url(lib\ bg.jpeg);
    font-family: 'Poppins', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


header
{
    height: 5%;
    width: 100%;
    background-color: rgb(48, 24, 13);
    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    border-top: 3px black solid;
}

.header-btn
{
    cursor: pointer;
    color: white;
    background-color:rgb(48, 24, 13); 
    border: none;
    margin-right: 2%;
    width: 80px;
}

.header-btn:hover
{
    text-decoration: underline;
    border: white 1px solid;
    transition: 0.4s ease;
}

.left, .right
{
   padding: 30%;
}
main
{
    display: flex;
    height: 95%;
    width: 100%;
    
}



.right
{
   display: flex;
   flex-direction: column;
   background-color: rgba(20, 9, 2, 0.8);
   backdrop-filter: blur(5px);
   color: white;
   padding: 10%;
   width: 30%;
   box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   justify-content: center;
   align-items: center;
   border-left: 1px solid rgba(255,255,255,0.2);
   box-shadow: black 0px 0px 12px;
   opacity: 0;
   animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

.left
{
   display: flex;
   flex-direction: column;
   color: white;
   padding: 10%;
   width: 70%;
   justify-content: left;
   align-items: left;
   background: rgba(48, 35, 25, 0.2);
   box-shadow: black 0px 0px 12px;
   animation: slideIn 0.8s ease-out forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(70px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.admin-btn, .cus-btn
{
    cursor: pointer;
    background: rgb(75, 2, 2);
    width: 150px;
    border: none;
    font-weight: bolder;
    border-radius: 12px;
    color: white;
    margin: 3%;
    padding: 4%;
    font-size: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25), 0 0 6px rgba(73, 4, 4, 0.5);
    animation: slideUp 0.6s ease-out forwards;
}

@keyframes slideUp
{
    0%
    {
        opacity: 0;
        transform: translateY(50px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}

.admin-btn:hover, .cus-btn:hover
{
    transform: scale(1.1);
    transition: transform 0.4s ease;
    box-shadow: rgb(157, 5, 5) 0px 0px 6px;


}

footer
{
    padding: 3%;
    background-color: rgb(48, 24, 13);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-left: 3px black solid;
    border-right: 3px black solid;

}

.footer-left
{
   margin-left: 40%;
}

.footer-right
{
    margin-left: 10%
}