
html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}
body
{
    background-image: url(lib\ bg.jpeg);
    font-family: 'Poppins', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


header
{
    height: 6%;
    width: 100%;
    background-color: #0b2c53;

    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    border-top: 3px black solid;
}

.header-btns
{
    display: flex;
    flex-direction: row;
}

.header-btn
{
    cursor: pointer;
    color: white;
    background-color: #0b2c53;
    border: none;
    margin-right: 2%;
    width: 80px;
}

.header-btn:hover
{
    box-shadow: 0 4px 12px rgba(0,0,0,0.25), 0 0 6px rgba(73, 4, 4, 0.5);
    border-radius: 10%;
}

.left, .right
{
   padding: 30%;
}
main
{
    display: flex;
    height: 94%;
    width: 100%;
    
}



.right
{
   display: flex;
   flex-direction: column;
   background-color: rgba(255, 250, 250, 0.668);
   backdrop-filter: blur(5px);
   color: black;
   padding: 10%;
   width: 30%;
   box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   justify-content: center;
   align-items: center;
   border-left: none;
   box-shadow: black 0px 0px 20px;
}

/*@keyframes slideIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}*/

.left
{
   display: flex;
   flex-direction: column;
   color: white;   
   padding: 10%;
   width: 70%;
   justify-content: left;
   align-items: left;
   background: rgba(0, 0, 0, 0.485);
   box-shadow: black 0px 0px 12px;
}

/*@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(70px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}*/

.admin-btn, .cus-btn, .explore-btn
{
    cursor: pointer;
    background:  #ff7b48;
    width: 150px;
    border: none;
    font-weight: bolder;
    border-radius: 12px;
    color: white;
    margin: 3%;
    font-size: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25), 0 0 6px rgba(73, 4, 4, 0.5);
}


.admin-btn:hover, .cus-btn:hover, .explore-btn:hover
{
    transform: scale(1.1);
    transition: transform 0.4s ease;
    box-shadow: rgb(255, 255, 255) 0px 0px 6px;


}

footer
{
    padding: 3%;
    background-color: #0b2c53;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-left: 3px black solid;
    border-right: 3px black solid;

}

.footer-left
{
   margin-left: 40%;
}

.footer-right
{
    margin-left: 10%
}